<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>header}}
    <h1>finally, dynamic content with express Hurray</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe atque, ipsum laboriosam, ea porro vitae deleniti aliquid amet modi, dolorum rerum repudiandae asperiores ducimus beatae id! Eius hic quo laudantium, dicta voluptates magni magnam nobis!</p>
    {{>footer}}
</body>
</html>